<div class="modal-backdrop" (click)="hideModal()">
  <div class="modal-content">
    <h1>Ajude este site a se manter</h1>
    <img
      src="../../../assets/livepix.png"
      alt="QR Code do LivePix para doar ao criador do site e ajudá-lo a manter os projetos"
    />
    <div class="button-container">
      <a
        type="button"
        class="btn btn-primary"
        href="https://livepix.gg/senpaidefamilia"
        target="_blank"
      >
        Doe
      </a>
      <a
        type="button"
        class="btn btn-primary"
        href="https://livepix.gg/senpaidefamilia/assinatura"
        target="_blank"
      >
        Assine
      </a>
    </div>
  </div>
</div>
